<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>teach</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
	<!-- ================  monitor begin =================           -->
	<servlet>
		<servlet-name>monitor_file_servlet_action</servlet-name>
		<servlet-class>monitor.file.ServletAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>monitor_file_servlet_action</servlet-name>
		<url-pattern>/monitor_file_servlet_action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>monitor_data_servlet_action</servlet-name>
		<servlet-class>monitor.file.ServletAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>monitor_data_servlet_action</servlet-name>
		<url-pattern>/monitor_data_servlet_action</url-pattern>
	</servlet-mapping>
		<!-- ================  monitor end =================           -->

	<servlet>
		<servlet-name>user_center_servlet_action</servlet-name>
		<servlet-class>user.center.LoginAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>user_center_servlet_action</servlet-name>
		<url-pattern>/user_center_servlet_action</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>illegal_data_servlet_action</servlet-name>
		<servlet-class>illegal.file.ServletActionRecordInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>illegal_data_servlet_action</servlet-name>
		<url-pattern>/illegal_data_servlet_action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>flow_data_servlet_action</servlet-name>
		<servlet-class>flow.file.FlowServletAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>flow_data_servlet_action</servlet-name>
		<url-pattern>/flow_data_servlet_action</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>analysis_data_servlet_action</servlet-name>
		<servlet-class>analysis.file.AnalysisServletAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>analysis_data_servlet_action</servlet-name>
		<url-pattern>/analysis_data_servlet_action</url-pattern>
	</servlet-mapping>
	
  </web-app>